<label class="name-label"><%=employee.get("name")%></label>
<span class="btn-group-sm" role="group" style="height: 30px; float: right;   margin-left: 5px;">
    <button type="button" class="btn btn-material-green workLabel" style="margin: 0;" data-employeeid="<%=employee.get('_id')%>">00:00</button>
    <button type="button" class="btn btn-material-red breakLabel" style="margin: 0;" data-employeeid="<%=employee.get('_id')%>">00:00</button>
</span>
<div class="lateLabel" data-employeeid="<%=employee.get('_id')%>"></div>