<%
    var workStyle = working ? 'btn-material-green' : 'btn-material-grey';
    var breakStyle = breaking ? 'btn-material-red' : 'btn-material-grey';
%>

<label class="name-label"><%=employee.get("name")%></label>
<span class="btn-group-sm" role="group" style="height: 30px; float: right;   margin-left: 5px;">
    <button type="button" class="btn <%=workStyle%> workButton" style="margin: 0;" data-employeeid="<%=employee.get('_id')%>">Смена</button>
    <button type="button" class="btn <%=breakStyle%> breakButton" style="margin: 0;" data-employeeid="<%=employee.get('_id')%>">Обед</button>
    <button type="button" class="btn faultStyle faultButton" style="margin: 0;" data-employeeid="<%=employee.get('_id')%>"></button>
</span>