<div class="report-header">
    <h2>Отчёт</h2>

    <p> по рабочему времени сотрудников за период</p>

    <div class="form-group container-fluid" style="width: 400px">
        <label for="inputFrom" class="col-lg-2 control-label" style="text-align: right; margin-top: 6px;">с</label>

        <div class="col-lg-4">
            <input type="text" class="form-control" id="inputFrom" placeholder="2015-06-20">
        </div>

        <label for="inputTo" class="col-lg-1 control-label" style="margin-top: 6px;">по</label>

        <div class="col-lg-4">
            <input type="text" class="form-control" id="inputTo" placeholder="2015-06-20">
        </div>
    </div>
    <button id="reportButton" class="btn btn-material-blue">Сформировать</button>
    
    <div class="report-container"></div>
</div>
