
<div class="row">
    <div class="col-lg-1" id="datepicker-work" style="position: relative">
        <input type="text" class="form-control" id="inputDay" placeholder="Введите день">
    </div>
    <audio id="monkey" preload="auto" style=" width:0px;">
        <source src="sound/monkey.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>


<div id="visualization"></div>

<!--<button class="btn btn-sm btn-material-red stress-test">Тест</button>-->

<div class="overlay"></div>

<div class="dinner-container container-fluid">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="well bs-component">
                <form class="form-horizontal">
                    <fieldset>
                        <legend style="text-align: right"><span id="webcamAction">Начать перерыв на обед</span>, <span
                                id="webcamName">Иванов</span>?
                        </legend>

                        <div class="form-group">
                            <label for="webcamTime" class="col-lg-4 control-label">Текущее время</label>

                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="webcamTime"
                                       placeholder="08:00" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">Фото</label>

                            <div class="col-lg-6">
                                <div class="camera-view">

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-4">
                                <span id="confirmButton" class="btn btn-material-green">Да</span>
                                <span id="cancelButton" class="btn btn-default">Отмена</span>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
